<style>
  body { text-align: center; }
  div.box {
    width:100px;
    height:100px;
    margin:0 auto;
    line-height: 100px;
    background-color:#CCCCFF;
  }
</style>

<h1>Welcome</h1>

<% if current_app %>
  <p>
    Using app: <strong><%= current_app.name %></strong>.
    <%= link_to "change app", sessions_path, method: :delete %>
  </p>

  物件情報

<% else %>
  <p><strong>Currently not set app.</strong></p>
    <%= link_to "/auth/doorkeeper", class: 'box' do %>
      <div class="box">App</div>
    <% end %>
<% end %>
